@model customerdetails.Models.CustomerViewModel
@{

    ViewData["Title"] = "Home Page";
}


<table class="table">
    <thead>
            <tr>
                <th scope="col">Serial No:</th>
                <th scope="col">first name</th>
                <th scope="col">last name</th>
                <th scope="col">address</th>
                <th scope="col">gender</th>
                <th scope="col">date time</th>
            </tr>
        </thead>

    @if (Model != null)
    {

        @foreach (var customerForm in Model.Customerforms)
        {

            <tbody>
                <tr>
                    <td>
                        @customerForm.ID
                    </td>
                    <td>@customerForm.Fname</td>
                    <td>@customerForm.Lname</td>
                    <td>@customerForm.Address</td>
                    <td>@customerForm.Gender</td>
                    <td>@customerForm.DateTime</td>
                </tr>
            </tbody>

        }
    }
</table>




@*<table>

        <tr>
            <td>@Model?.Fname</td>
            <td>@Model?.Lname</td>
            <td>@Model?.Address</td>
            <td>@Model?.Gender</td>
            <td>@Model?.DateTime</td>


        </tr>
    </table>*@

